.stat {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.stat h1 {
  font-size: 3em;
  font-weight: 200;
}

.statSeperator {
  margin-top: 1em;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statLine {
  width: 65%;
}

.statsLeft, .statsRight {
  width: 40%;
  margin-top: 5%;
}
.statsLeft, .statsRight {
  margin-right: 5%;
  margin-left: 5%;
}

.statContainer {
  margin-top: 10%;
}

.statContainerRight, .statContainerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

.statRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  background-color: #34393C;
  border-radius: 8px;
  padding: 0.3em;
  margin: 0.3em;
}

.statRow:hover {
  background-color: #707070;
}

/* .statContainerRight .statRow:nth-child(even), .statContainerLeft .statRow:nth-child(even){
  background-color: #707070;
} */

.statRowLeft, .statRowRight {
  width: 50%;
}