* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.nav {
  grid-area: navbar;
}

.container {
  grid-area: body;
}

.app {
  height: 100%;
  width: 100%;
  background-color: #6F90A1;
  display: grid;
  grid-template-columns:auto;
  grid-template-rows: 50px auto;
  grid-template-areas:
  "menu"
  "body"
}

@media only screen and (min-width: 1250px) {
  .app {
    grid-template-columns:20% auto;
    grid-template-rows: auto;
    grid-template-areas:
    "menu body"
    "body body"
  }
}

/* Width is 80% here as navbar takes up 20% */
/* .container {
  width: 80%;
  height:100vh;
  margin-left: 20%;
  background-color: #6F90A1;
} */



/* @media only screen and (max-width: 1250px) {

  .App {
    height: 100vh;
    background-color: #6F90A1;
  }

  .container {
    height: 90%;
    width: 100%;
    margin : 0;
    background-color: #6F90A1;
  }

  body {
    overscroll-behavior-y: none;
  }

  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

  body > div {
      height: 100%;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
  } */
/* } */
