.navBar {
  width: 20%;
  float:left;
  background-color: #28546C;
  height:100vh
}

.mobile-nav {
  display:none;
}

.imgOuter {
  width: 100%;
  height: 200px;
}

.img {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  height: 90%;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.imgSeperator {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgLine {
  width: 60%;
}

.linkContainer {
  margin-top : 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.linkContainer ul {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.linkContainer li {
  list-style : none;
  margin-top : 1.3em;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.linkContainer li:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.seperator {
  margin-top: 1.3em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line {
  width: 100%;
}

.linkContainer a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1250px) {
  .showMenu {
    width: 70%;
    height: auto;
    padding-bottom: 10%;
    position: absolute;
    display: block !important;
    z-index: 10;
  }

  .mobile-nav {
    display:block;
    z-index: 20;
    position:relative;
  }

  .linkContainer ul {
    width: 80%;
  }
  
  .line {
    width: 80%;
  }

  .navBar {
    display:none;
  }

  .mobile-nav-item  {
    text-decoration: none;
    color: #ffffff;
  }
  
  .menuToggle  {
    display: block;
    position: fixed;
    width: 80%;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  
  .menuToggle input  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  
  .menuToggle span  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
        -ms-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  .menuToggle span:first-child  {
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  
  .menuToggle span:nth-last-child(1)  {
    -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  
  .menuToggle input:checked ~ span  {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
        -ms-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }
  
  .menuToggle input:checked ~ span:nth-last-child(2)  {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
        -ms-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menuToggle input:checked ~ span:nth-last-child(1)  {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
        -ms-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
}