.account {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.triangle {
  position:absolute;
  width: 0;
  height: 0;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  border-style: solid;
  border-width: 0 0 250px 100vw;
  border-color: transparent transparent #AA8B39 transparent;
  pointer-events:none;
}

.balance-container, .reward-container {
  position:relative;
  z-index: 10;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.button-container, .reset-container {
  width: 70%;
  max-width: 350px;
  height: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.balance-max, .reward-max, .balance-current, .reward-current {
  height: 40px;
  color: #34393C;
}

.balance-current, .reward-current{
  font-size: 3rem;
  margin-bottom: 30px;
}

.balance-max, .reward-max {
  font-size: 1.5rem;
  width: 33%;
  margin-left: 20%;
  text-align: center;
}

.add-button, .minus-button {
  width: 40px;
  height: 40px;
  background-color: #34393C;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #34393C;
}

.reset-button {
  width: 70px;
  height: auto;
  color: #34393C;
  margin: 5px 0 5px 0;
}

.add-button svg, .minus-button svg, .reset-button svg {
  width: 35%;
}

.balance-input, .reward-input {
  font-size: 1.5em;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  color: #ffffff;
  text-align:center;
  background-color: #34393C;
  box-shadow: 2px 2px 5px #34393C;
}

.account-seperator {
  display: flex;
  color: #ffffff6f;
  justify-content: center;
  width: 100%;
}

.account-line {
  width: 60%;
}

.account-header{
  color: #34393D;
  max-height: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media only screen and (orientation: landscape) { 
  .triangle {
    display: none;
  }
}

@media only screen and (min-width: 1250px) { 
  .account {
    height: 100%;
  }

  .triangle {
    border-width: 0 0 50vh 80vw;
    border-color: transparent transparent #AA8B39 transparent;
    pointer-events:none;
  }

  .account-line, .account-seperator {
    height: 0px;
  }

  .balance-container, .reward-container {
    height: 50%;
  }

  .balance-current, .reward-current{
    font-size: 6rem;
    margin-bottom: 8%;
  }

  .balance-input, .reward-input {
    padding-left: 5%;
  }

  .reset-button {
    padding-top: 15px;
  }

  .balance-max, .reward-max {
    font-size: 2rem;
    width: 33%;
    margin-left: 10%;
    text-align: center;
  }

  .add-button, .minus-button {
    transition: all .1s ease-out;
  }
  .add-button:hover, .minus-button:hover {
    transform: scale(1.1);
  }

  .reset-button svg {
    transition: transform .8s ease-in-out;
  }
  .reset-button svg:hover {
    transform: rotate(360deg);
    color: rgb(120, 41, 41);
  }
}
