.account {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plusButton, .minusButton {
  background-color: #34393C;
  color: white;
  border: none;
  width: 5em;
  height: 3em;
  border-radius: 10px;
}

.rewardInput {
  height: 1.5em;
}

.balanceContainer, .rewardContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 .balanceContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 5em;
 }
 
 .rewardContainer {
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
  }

 .balance, .reward {
    height: 20%;
    color: #34393C;
    font-weight: 300;
    cursor: default;
  }

  .balance .max {
    font-size:4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .balance .current {
    font-size: 12em;
    line-height: 1em;
  }

  .reward {
    margin-bottom: 10em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 3;
  }

  .reward .max {
    font-size:2em;
    margin-right: 7em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .reward .current {
    font-size: 6em;
    line-height: 1em;
  }

  .buttonGroup{
    margin-top : 2em;
  }

  .buttonContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .buttonGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .buttonGroup img {
    max-width: 20%;
    cursor: pointer;
  }

  .resetButton {
    margin-top: 1em;
    font-size: 20pt;
  }

  .resetButton svg {
    max-width: 2em;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: -webkit-transform .8s ease-in-out;
    -o-transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
  }

  .resetButton svg:hover {
    cursor:pointer;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  .rewardInput, .balanceInput {
    border: none;
    font-size: 1.5em;
    max-width: 50%;
    border-radius: 10px;
    color: #ffffff;
    background-color: #34393C;
    text-align:center;
  } 

  .triangle {
    width: 0;
    height: 0;
    position:absolute;
    right: 3%;
    bottom: 5%;
    border-style: solid;
    border-width: 0 0 80vh 50vw;
    border-color: transparent transparent #AA8B39 transparent;
    pointer-events:none
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

@media only screen and (max-width: 800px) {

  .account {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
  }

  .balanceContainer{
    height: 80vh;
    width: 100%;
    background-color: #6F90A1;
    padding: 0;
    align-items: center;
  }

  .buttonContainer {
    max-width: 90%;
  }

  .balance, .rewardContainer {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .balance .current {
    font-size: 6em;
  }

  .balance .max {
    justify-content: center;
    font-size: 2em;
    margin-left:30%;
  }

  .balance .max span {
    margin-left: 40%;
  }
  .rewardContainer{
    width: 100%;
    height: 100vh;
    background: #6F90A1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .triangle {
    display:none;
  }
}