.Account{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accountHeader{
  display:flex;
  width:100%;
  max-width: 400px;
  justify-content:space-around;
  background:whitesmoke;
  border-radius: 3px;
  color: black;
}

.accountHeader .current {
  font-size: 5rem;
  font-weight:600;
  color:rgb(52, 56, 56)
}

.accountHeader .max {
  font-weight: 300;
  font-size: 2em;
  color:rgb(118, 118, 115)
}

.funds {
    margin-top: 20%;
    max-width: 250px;
    width: 50%;
    border:none;
    border-radius: 2px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.fundsButton {
  font-family: 'Montserrat', sans-serif;
  border-radius:3px;
  font-size:1rem;
  height: 2em;
  border:none;
  /* width:50px; */
  /* height:30px; */
  cursor:pointer;
}

.buttonContainer {
  margin-top: 1em;
  max-width: 300px;
  display:flex;
  flex-direction:column;
  width:100%;
  height: 25%;
  justify-content:space-around;
}
.add{
  background-color: #4CAF50;
}
.remove{
  background-color: #008CBA;
}
.cancel{
  background-color: #f44336;
}