.study {
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.question-container {
  width: 80%;
  color: #34393C;
  margin-top: 25%;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-top: 15%;
}

.study-button-container {
  width: 50%;
  margin-top: 35px;
  max-width: 200px;
  display: flex;
  justify-content: space-around;
}

.leftArrow, .rightArrow, .submit {
  width: 30px;
}

.time, .type, .note {
  font-size: 2rem;
  text-align:center;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #34393C;
}

.time {
  height: 50px;
  padding-left: 50px;
  width: 140px;
  -webkit-appearance: none;
}

.type {
  height: 50px;
  width: 300px;
  border-radius: 5px;
}

.note {
  height: 100px;
  width: 300px;
  overflow-y: auto;
}

.reward {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reward-img {
  margin-top: 100px;
  max-width: 80%;
}

@media only screen and (orientation: landscape) { 
  .question-container, .input-container {
    margin-top: 30px; 
  }

  .button-container {
    margin-top: 40px;
  }
  
  .reward-img {
    margin-top: 20px;
    max-width: 50%;
  }
}

@media only screen and (min-width: 1250px) { 
  .question-container {
    margin-top: 15%;
  }

  .time {
    padding-left: 35px;
  }

  .input-container {
    min-height: 120px;
  }

  .rightArrow, .leftArrow, .submit {
    transition: all .1s ease-out;
  }

  .rightArrow:hover, .leftArrow:hover {
    cursor:pointer;
    transform: scale(1.2);
  }

  .submit:hover {
    cursor:pointer;
    color: #29784E;
    transform: scale(1.2);
  }
}
